*{
    margin:0;
    padding: 0;
}


  .col1{
    margin-right:1vw;
  }
  .col2{
    margin-right: 1vw;
  }
  img{
    height: 55vh;
  }
  
  .Ran{
    height: 100vh;
    background-color: black;
  }
  #gautam{
    margin-left: 1vh;
    margin-right: 1vh;
  }

  #popup{
    display: none;
  }
  /* #image:hover + #popup{
    
    display: block;
  } */
  #popup{
    text-align: center;
    margin:auto;
  }
.divPopup{
  display: flex;
  justify-content: center;
}