.footer {
    text-align: center;
    background-color: black;
    color: rgb(255, 255, 255);
    margin-top: 0px;
}

.white {
    color: white;
}

.bol {
    font-weight: bold
}



.animation {
    transition: transform 0.20s ease-out both;
    
}

.animation:hover {
    transform: translateY(5px);
    color: rgb(0, 83, 236);
}



.linkAnimation:hover{
    color: rgb(12, 255, 202);
    font-size: 3vh;

}
